// Reset of default styles in order to have a consistent base across browsers
@use '../global/variables' as v;
@use 'sass:map';

// For all the elements of the page I remove the default margins and paddings
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6; // Line spacing
  font-family: map-get(v.$fonts, secondary); // Open Sans as default body font
  color: map-get(v.$colors, text-primary);
  background-color: map-get(v.$colors, white);
}

img {
  max-width: 100%;
  height: auto; // So images do not overflow their containers
}